.Rproj.user
.Rhistory
.RData
.Ruserdata
Final Project - 8790.pdf
Prioli_Proposal.Rmd
Prioli_Proposal.pdf
brainstorming.txt
brainstorming_2.txt
alldata_2018-11-25.csv
/kmeans/rsconnect/
Prioli_MAT_8790_final_proj_git_QR.png
Prioli_MAT_8790_final_proj_shinyapps_QR.png
/hexes/